Source: grub2-fll-fromiso
Section: admin
Priority: extra
Maintainer: Ferdinand Thommes <devil@siduction.org>
Uploaders: Alf Gaida <agaida@siduction.org>
XBSC-Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Vcs-Git: git://git.siduction.org:packages/siduction-repository/grub2-fll-fromiso.git
Vcs-Browser: http://git.siduction.org:packages/siduction-repository/grub2-fll-fromiso.git

Package: grub2-fll-fromiso
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 genisoimage,
 grub-pc | grub-efi-amd64
Description: update-grub (grub2) plugin for fullstory fromiso
 Automatically adds and updates fullstory fromiso snippets for grub.cfg of the 
 GRand Unified Bootloader, version 2.
 .
 Please configure /etc/default/grub2-fll-fromiso
